{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": "3.0.0",
        "modules": "commonjs"
      }
    ]
  ],
  "overrides": [
    {
      "test": "./src/vendored/github.com/augustl/js-unzip/js-unzip.js",
      "sourceType": "script"
    }
  ],

  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-class-properties"
  ]
}
