{
  "root": true,
  "ignorePatterns": [
    "node_modules",
    "build"
  ],
  "env": {
    "browser": true,
    "es2020": true,
    "commonjs": true
  },
  "parser": "babel-eslint",
  "extends": "eslint:recommended",
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "no-unused-vars": ["error", {"argsIgnorePattern": "_unused(_.+)?"}],
    "no-constant-condition": ["error", {"checkLoops":  false}], // allow `while (true)`
    "no-prototype-builtins": "off",
    "semi": "error", // missing in eslint:recommended
    "eol-last": "error" // missing in eslint:recommended
  },
  "globals": {
    "NODE_ENV": true,
    "RELEASE_VER": true
  }
}