{
  "root": true,
  "ignorePatterns": [
    "node_modules",
    "build",
    "deploy"
  ],
  "extends": ["./myEslintRules.js", "prettier" ],
  "plugins": [
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "error",
    /* rules softly disabled by prettier */
    "max-len": ["error", {"code": 120}],
    "arrow-body-style": ["error", "as-needed"],
    "curly": "error",
    "no-confusing-arrow": "error",
    "no-tabs": "error",
    "no-unexpected-multiline": "error",
    "quotes": ["error", "single", {"allowTemplateLiterals": false}],
  },
  "overrides": [
    {
      "files": "src/**/*.js", // for legacy code
      "env": {
        "browser": true,
        "es2020": true,
        "commonjs": true
      },
      "parser": "babel-eslint",
      "parserOptions": {
        "sourceType": "module"
      },
      "extends": ["./myEslintBrowserRules.js"], // do not disable rules conflicting with prettier
      "rules": {
        "no-constant-condition": ["error", {"checkLoops":  false}], // allow `while (true)`
        "no-prototype-builtins": "off",
        "no-invalid-this": "off", // 44 occurencies in old code
        "no-magic-numbers": "off", // 1188 occurencies in old code
        "no-param-reassign": "off", // 91 occurencies in old code
        "no-warning-comments": "off", // 15 occurencies in old code
        "no-shadow": "off", // 83 occurencies in old code
        "camelcase": "off", // 203 occurencies in old code
        "comma-dangle": ["error", "only-multiline"], // 697 issues with always-multiline
        "quotes": "off", // 73 occurencies in old code
        "function-paren-newline": "off", // > 200 occurencies in old code
        "indent": "off", // > 7000 occurencies in old code
        "no-multi-assign": "off", // 31 occurencies in old code
        "no-var": "off", // 330 occurencies in old code
        "one-var": "off", // 122 occurencies in old code
        "prefer-const": "off", // 375 occurencies in old code
        "prefer-template": "off", // 70 occurencies in old code,
        "prettier/prettier": "off",
      },
      "globals": {
        "NODE_ENV": true,
        "RELEASE_VER": true
      }
    },
    {
      "files": "src/vendored/**/*.js",
      "rules": {
        "semi": "off",
        "no-console": "off",
        "block-scoped-var": "off",
        "consistent-return": "off",
        "curly": "off",
        "no-empty-function": "off",
        "no-implicit-coercion": "off",
        "no-magic-numbers": "off",
        "no-multi-spaces": "off",
        "no-param-reassign": "off",
        "no-throw-literal": "off",
        "no-warning-comments": "off",
        "require-unicode-regexp": "off",
        "strict": "off",
        "no-shadow": "off",
        "no-use-before-define": "off",
        "camelcase": "off",
        "comma-dangle": "off",
        "comma-style": "off",
        "consistent-this": "off",
        "func-style": "off",
        "max-len": "off",
        "no-tabs": "off",
        "quotes": "off",
        "indent": "off",
        "keyword-spacing": "off",
        "linebreak-style": "off",
        "no-multi-assign": "off",
        "no-multiple-empty-lines": "off",
        "no-plusplus": "off",
        "no-var": "off",
        "object-curly-spacing": "off",
        "one-var": "off",
        "operator-linebreak": "off",
        "padded-blocks": "off",
        "semi-spacing": "off",
        "semi-style": "off",
        "space-before-blocks": "off",
        "space-before-function-paren": "off",
        "space-in-parens": "off",
        "space-infix-ops":"off",
        "space-unary-ops": "off",
        "spaced-comment": "off"
      }
    },
    {
      "files": "src/**/*_pb.js", // auto-generated files
      "rules": {
        "curly": "off",
        "strict": "off",
        "max-len": "off",
        "no-multiple-empty-lines": "off",
        "space-before-function-paren": "off",
        "quote-props": "off"
      }
    },
    {
      "files": "test/**/*.js",
      "excludedFiles": "test/karma.conf.js",
      "parser": "babel-eslint",
      "env": {
        "browser": true,
        "mocha": true,
        "es2020": true
      },
      "parserOptions": {
        "sourceType": "module"
      },
      "globals": {
        "assert": true
      }
    },
    {
      "files": [
        "webpack/**/*.js",
        "test/karma.conf.js",
        "scripts/**/*.js",
        "./myEslintRules.js",
        "./myEslintBrowserRules.js"
      ],
      "env": {
        "node": true,
        "es2017": true
      }
    }
  ]
}
