/*200 mm*/
@media (max-width: 756px) {
    .leaflet-right .leaflet-control:not(.leaflet-control-horizontal-stack) {
        margin-right: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .leaflet-left .leaflet-control:not(.leaflet-control-horizontal-stack) {
        margin-left: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

/*150 mm*/
@media (max-height: 567px) {
    .leaflet-bottom .leaflet-control:last-child {
        margin-bottom: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .leaflet-top .leaflet-control:first-child {
        margin-top: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}


