@media (max-width: 200mm) {
    .leaflet-right .leaflet-control {
        margin-right: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .leaflet-left .leaflet-control {
        margin-left: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

@media (max-height: 150mm) {
    .leaflet-bottom .leaflet-control:last-child {
        margin-bottom: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .leaflet-top .leaflet-control:first-child {
        margin-top: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}

.leaflet-control-layers-expanded {
    overflow-y: auto;
    overflow-x: hidden;
}

.nakarte-controls-raised {
    z-index: 2000 !important;
}