#map {
  height: 100%;
}

#street-view {
  width: 50%;
  height: 100%;
  float: left;
  display: none;
}

#street-view.enabled {
  display: block;
}

#street-view div[aria-label='Street View'] {
    filter: invert(1) !important;
}

#street-view .panorama-container > div:nth-child(2) {
    z-index: -1 !important;
}

#street-view .panorama-container > div > div > div > div:nth-child(1) {
    font-size: 0 !important;
}

*:focus {
  outline: 0;
}