body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: hidden;
}

body, html{
  height: 100%;
}

#map {
  height: 100%;
}

#street-view {
  width: 50%;
  height: 100%;
  float: left;
  display: none;
}

#street-view.enabled {
  display: block;
}
