.leaflet-control-layers-list label {
    white-space: nowrap;
}

.leaflet-control {
    user-select: none;
}

.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
    border: none !important;
    box-shadow: 0 1px 5px rgba(0,0,0,0.65) !important;
}

